<h1>New Album</h1>
<%= form_with model: @album, url: '/add_album' do |form| %>
  <div class="input-div">
    <%= form.text_field :name, :class => 'input-fields form-control', :placeholder => "Album Name", :required => true %>
  </div>
  <div class="input-div">
    <%= form.number_field :year, value: Date.today.year, :class => 'input-fields form-control', :placeholder => "Year", :required => true %>
  </div>
  <div class="input-div">
    <%= form.collection_select(:artist_id, Artist.all.order(:id), :id, :name, {:prompt=>true}, {:class=>"form-control input-fields", :required => true}) %>
  </div>

  <div class="button-div">
    <%= form.submit "Save", :class => "btn btn-primary buttons" %>
  </div>
<% end %>
